.security{
    background-color: var(--bg-red);
    background-image: url(https://web-images.credcdn.in/_next/assets/images/home-page/security-bg.jpg);
}
@media all and(max-width: 1279px){
    .security{
        background-position: center bottom;
    }
}



@media all and (max-width: 767px){
    .security{
        background-position: right center ;
        background-image: url(https://web-images.credcdn.in/_next/assets/images/home-page/security-bg.jpg);
        min-height: 1150px;
    }
}